body {
    margin: .5vw 25vw 0 25vw;
    background-color: #decbb7;
    line-height: 3.5vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

header img {
    grid-column: 1/2;
    width: 100px;
    margin: 10px 25px 10px 25px;
    border: 2px solid #f7f0f5;
    border-radius: 10px;
}

header h1 {
    grid-column: 2/6;
}

header, footer {
    background-color: #433633;
    border-radius: 10px;
    text-align: center;
    color: #f7f0f5;
}

main {
    margin: 0 2vw 0 2vw;
}

footer {
    padding: 5px 0px 5px 0px;
}