body {
    margin: 1vw 5vw 0 5vw;
    background-color: #decbb7;
    line-height: 3.5vh;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

header img {
    width: 100px;
    margin: 10px auto 10px auto;
    border: 2px solid #f7f0f5;
    border-radius: 10px;
}

header, footer {
    background-color: #433633;
    border-radius: 10px;
    text-align: center;
    color: #f7f0f5;
}

main {
    margin: 0 2vw 0 2vw;
}

footer {
    padding: 5px 0px 5px 0px;
}