.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: rgb(199, 199, 199);
    box-shadow: 0px 0px 5px 5px rgb(112, 112, 112);;
    border: 1px solid black;
    padding: 15px;
}

body {
    text-align: center;
}

section {
    background-color: rgb(171, 172, 205);
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
}

h1 {
    font-size: 50px;
    color: rgb(72, 76, 206);
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    color: rgb(72, 76, 206);
    font-weight: bolder;
}

img{
    width: 60%;
    height: 60%;
    box-shadow: 0px 0px 5px 5px rgb(112, 112, 112);;
}

#view {
    text-align: center;
    font-size: 3em;
}
#cards, #list {
    border: 3px solid black;
    padding: 0 8px;
    cursor: pointer;
    box-shadow: 3px 3px 10px 3px #ccc;
}
table {
    width: 75%;
    margin: 50px auto;
    font-size: 1.2em;
}
td {
    padding: 5px;
    display: table-cell; /*Keep block for mobile. Use display: table-cell for medium and large css*/
}
tr:nth-of-type(even) {
    background-color: #ccc;
}
table a {
    color: navy;
}