@media screen and (min-width: 32.5em) {

    body {
        margin: 1vh 15vw 1vh 15vw;
    }

    nav {
        flex-direction: row;
        line-height: 4vh;
    }

    #persona-flex {
        display: flex;
        justify-content: space-evenly;
    }

    img {
        max-width: 30vw;
    }

    #persona1, #persona2 {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #persona1 img, #persona2 img {
        padding: 10px;
    }

    ol {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}